# Mailgun configuration
MAILGUN_APIKEY=   # Mailgun API key
MAILGUN_DOMAIN=   # Mailgun domain (eu or us region)
MAILGUN_BASE_URL= # Mailgun base URL (e.g., https://api.eu.mailgun.net)

# Database configuration (local)
BUSINESS_DATABASE_URL=mongodb://user:pass@127.0.0.1:27018/?authSource=admin&retryWrites=true&w=majority&directConnection=true&tls=false
MAIN_DATABASE_URL=mongodb://user:pass@127.0.0.1:27018/main?authSource=admin&retryWrites=true&w=majority&directConnection=true&tls=false

# Authentication configuration
NEXTAUTH_SECRET=    # Secret for NextAuth.js
NEXTAUTH_URL=       # URL for NextAuth.js (e.g., http://localhost:4100)

GOOGLE_CLIENT_SECRET=   # Google OAuth client secret
GOOGLE_CLIENT_ID=       # Google OAuth client ID

SALESFORCE_CLIENT_ID=       # Salesforce OAuth client ID
SALESFORCE_CLIENT_SECRET=   # Salesforce OAuth client secret

# Vercel Blob Storage token
BLOB_READ_WRITE_TOKEN=    # Vercel generated token for blob storage read/write access

# Preshared secrets for cron jobs and admin access
CRON_JOBS_SECRET=
ADMIN_SECRET=

# Ably API keys for real-time messaging
ABLY_API_KEY=           # Ably API key for server-side operations
ABLY_PUBLISH_API_KEY=   # Ably API key for client-side publishing

# QStash configuration for scheduled tasks (Qstash should generate these values)
QSTASH_URL=     # QStash URL (e.g., https://qstash-eu-central-1.upstash.io)
QSTASH_TOKEN=   # QStash token for authentication
QSTASH_CURRENT_SIGNING_KEY=   # Current signing key for QStash
QSTASH_NEXT_SIGNING_KEY=      # Next signing key for QStash (for key rotation)
